/*
 * Copyright (c) 2021 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/outputs.h>

/ {
    behaviors {
        l_uml_a: ac_uml_a {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_tap &kp RA(RS(DQT))>
                , <&macro_tap &kp A>
                ;
        };
        l_uml_o: ac_uml_o {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_tap &kp RA(RS(DQT))>
                , <&macro_tap &kp O>
            ;
        };
        w_uml_al: ac_uml_al {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LALT>
                , <&macro_tap &kp N0 &kp N2 &kp N2 &kp N4>
                , <&macro_release &kp LALT>
                ;
        };
        w_uml_au: ac_uml_au {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LALT>
                , <&macro_tap &kp N0 &kp N1 &kp N9 &kp N6>
                , <&macro_release &kp LALT>
                ;
        };
        w_uml_ol: ac_uml_ol {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LALT>
                , <&macro_tap &kp N0 &kp N2 &kp N4 &kp N6>
                , <&macro_release &kp LALT>
                ;
        };
        w_uml_ou: ac_uml_ou {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LALT>
                , <&macro_tap &kp N0 &kp N2 &kp N1 &kp N4>
                , <&macro_release &kp LALT>
                ;
        };
        spc4: spc4 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_tap &kp SPACE &kp SPACE &kp SPACE &kp SPACE>
                ;
        };
        csl: csl {
            compatible = "zmk,behavior-macro-two-param";
            #binding-cells = <2>;
            bindings
                = <&macro_param_2to1>
                , <&macro_tap &kp MACRO_PLACEHOLDER>
                , <&macro_param_1to1>
                , <&macro_tap &sl MACRO_PLACEHOLDER>
                ;
        };
    };
};

&sl {
    release-after-ms = <5000>;
};

/ {
    keymap {
        compatible =  "zmk,keymap" ;

        default_layer {
// -------------------------------------------------------------------------------------------------------------------------
// | ESC   |  1    |  2  |  3  |  4  |  5  |                   ---                |  6  |  7  |  8   |  9   |  0   |   +   |
// | TAB   |  Q    |  W  |  F  |  P  |  G  |   (   |           ---        |  )    |  J  |  L  |  U   |  Y   |  ;   |   -   |
// | ESC   |  A    |  S  |  R  |  T  |  D  |   [   |           ---        |  ]    |  H  |  N  |  E   |  I   |  O   |   '   |
// | SHIFT |  Z    |  X  |  C  |  V  |  B  | PG_UP | PG_DOWN | --- | HOME | END   |  K  |  M  |  ,   |  .   |  /   | SHIFT |
// | CRTL  | PSCRN | GUI | ALT |   LOWER   | RET   | DEL     | --- | BKSP | SPACE |   RAISE   | CTRL | LEFT | DOWN | RIGHT |
            bindings = <
   &kp ESC    &kp N1     &kp N2    &kp N3  &kp N4   &kp N5                                           &kp N6  &kp N7  &kp N8     &kp N9    &kp N0    &kp PLUS
   &kp TAB    &kp Q      &kp W     &kp F   &kp P    &kp G  &kp LPAR                        &kp RPAR  &kp J   &kp L   &kp U      &kp Y     &kp SEMI  &kp MINUS
   &kp ESC    &kp A      &kp S     &kp R   &kp T    &kp D  &kp LBKT                        &kp RBKT  &kp H   &kp N   &kp E      &kp I     &kp O     &kp SQT
   &kp LSHFT  &kp Z      &kp X     &kp C   &kp V    &kp B  &kp PG_UP  &kp PG_DN  &kp HOME  &kp END   &kp K   &kp M   &kp COMMA  &kp DOT   &kp FSLH  &kp RSHFT
   &kp LCTRL  &kp PSCRN  &kp LGUI  &kp LALT     &mo 1      &kp RET    &kp DEL    &kp BKSP  &kp SPACE       &mo 2     &kp LCTRL  &kp LEFT  &kp DOWN  &kp RIGHT
            >;

        };

        lower_layer {
// --------------------------------------------------------------------------------------------------------------------------
// | ESC   |   1   |  2  |  3  |  4  |  5  |                   ---                |  6  |  7  |  8   |  9   |  0    |  +    |
// | TAB   |   !   |  @  |  #  |  $  |  %  |   (   |           ---        |  )    |  ^  |  &  |  *   |  (   |  )    |  -    |
// | GUI   |   Ä   |  `  |  '  |  "  | 4sp |   [   |           ---        |  ]    | ESC |  ?  |  ,   |  .   |  Ö    |  '    |
// | SHIFT |   Z   |  X  |  C  |  V  |  B  | PG_UP | PG_DOWN | --- | HOME | END   |  !  |  :  | HOME | END  |  UP   | SHIFT |
// | CRTL  | PSCRN | GUI | ALT |   LOWER   | RET   | DEL     | --- | BKSP | SPACE |   TOADJ   | CTRL | LEFT | DOWN | RIGHT |
            bindings = <
   &trans   &trans    &trans     &trans    &trans    &trans                                        &trans     &trans     &trans     &trans    &trans    &trans
   &trans   &kp EXCL  &kp AT     &kp HASH  &kp DLLR  &kp PRCNT  &trans                  &trans  &kp CARET  &kp AMPS   &kp ASTRK  &kp LPAR  &kp RPAR  &trans
   &trans   &l_uml_a  &kp GRAVE  &kp SQT   &kp DQT   &spc4      &trans                  &trans  &kp ESC    &kp QMARK  &kp COMMA  &kp DOT   &l_uml_o  &trans
   &trans   &trans    &trans     &trans    &trans    &trans     &trans  &trans  &trans  &trans  &kp EXCL   &kp COLON  &kp HOME   &kp END   &kp UP    &trans
   &trans   &trans    &trans     &trans         &trans          &trans  &trans  &trans  &trans          &sl 3         &trans     &trans    &trans    &trans
            >;
        };


        raise_layer {
// ---------------------------------------------------------------------------------------------------------------------------
// | ESC   |  1    |  2  |  3  |  4  |  5  |                   ---                |  6    |  7  |  8   |  9   |  0   |  +    |
// | TAB   |  >    |  )  |  ]  |  }  |  \  |   (   |           ---        |  )    |  ^    |  &  |  *   |  _   |  +   |  -    |
// | GUI   |  <    |  (  |  [  |  {  |  /  |   [   |           ---        |  ]    |  ESC  |  =  |  _   |  $   |  :   |  '    |
// | SHIFT |  Z    |  X  |  C  |  V  |  B  | PG_UP | PG_DOWN | --- | HOME | END   |  !    |  :  | HOME | END  |  UP  | SHIFT |
// | CRTL  | PSCRN | GUI | ALT |   TOADJ   | RET   | DEL     | --- | BKSP | SPACE |     RAISE   | CTRL | LEFT | DOWN | RIGHT |
            bindings = <
   &trans  &trans  &trans    &trans    &trans    &trans                                    &trans     &trans     &trans     &trans    &trans     &trans
   &trans  &kp GT  &kp RPAR  &kp RBKT  &kp RBRC  &kp BSLH  &trans                  &trans  &kp TILDE  &kp PLUS   &kp MINUS  &kp PIPE  &kp SEMI   &trans
   &trans  &kp LT  &kp LPAR  &kp LBKT  &kp LBRC  &kp FSLH  &trans                  &trans  &kp ESC    &kp EQUAL  &kp UNDER  &kp DLLR  &kp COLON  &trans
   &trans  &trans  &trans    &trans    &trans    &trans    &trans  &trans  &trans  &trans  &kp EXCL   &kp COLON  &kp HOME   &kp END   &kp UP     &trans
   &trans  &trans  &trans    &trans          &sl 3         &trans  &trans  &trans  &trans        &trans          &trans     &trans    &trans     &trans
            >;
       };

        adjust_layer {
// ------------------------------------------------------------------------------------------------------------------------------
// | F12        | F1    | F2  | F3  | F4  | F5  |                   ---                |  F6  |  F7 |  F8 |  F9  |  F10 | F11   |
// | OUTPUT TGL | BT1   | BT2 | BT3 | BT4 | BT5 |   (   |           ---        |  )    |  (   |  7  |  8  |  9   |  +   |  -    |
// | GUI        | ä     |  Ä  |  Ö  |  ö  | INS |   [   |           ---        |  ]    |  ,   |  4  |  5  |  6   |  *   |  /    |
// | SHIFT      | Z     |  X  |  C  |  V  |  B  | PG_UP | PG_DOWN | --- | HOME | END   |  RET |  1  |  2  |  3   |  UP  | SHIFT |
// | CRTL       | PSCRN | GUI | ALT |   TODEF   | RET   | DEL     | --- | BKSP | SPACE |   TODEF    |  0  | LEFT | DOWN | RIGHT |
            bindings = <
   &kp F12       &kp F1        &kp F2        &kp F3        &kp F4        &kp F5                                             &kp F6        &kp F7     &kp F8     &kp F9       &kp F10          &kp F11
   &out OUT_TOG  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4  &trans                  &csl 3 LPAR  &csl 3 RPAR   &csl 3 N7  &csl 3 N8  &csl 3 N9    &csl 3 PLUS      &csl 3 MINUS
   &trans        &w_uml_al     &w_uml_au     &w_uml_ou     &w_uml_ol     &kp INS       &trans                  &trans       &csl 3 COMMA  &csl 3 N4  &csl 3 N5  &csl 3 N6    &csl 3 ASTERISK  &csl 3 FSLH
   &trans        &trans        &trans        &trans        &trans        &trans        &trans  &trans  &trans  &trans       &csl 3 RET    &csl 3 N1  &csl 3 N2  &csl 3 N3    &csl 3 UP        &trans
   &trans        &trans        &trans        &trans               &to 0                &trans  &trans  &trans  &trans               &to 0            &csl 3 N0  &csl 3 LEFT  &csl 3 DOWN      &csl 3 RIGHT
            >;
        };
    };
};
